body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainBlue) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --mainBlue: #0f0436;
  --text: #8074ad;
  --white: white;
  --opBlue: rgba(41, 30, 85, 0.4);
}
/*Header Section*/

.headercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: var(--text);
}

.sidebar {
  position: fixed !important;
  top: 0px !important;
  bottom: 0px !important;
  width: 80px !important;

}

.css-1wvake5 {
  border: none !important;
}


.companyName {
  font-size: 50px;
  padding: 20px;
}


.menuIcon {
  margin: 0px 0px 50px 20px;
}
/* footer section*/
footer {
  margin: 20px;
  text-align: center;
  height: 80px;
  background-color: var(--mainBlue);
  color: var(--text);
}
.footericon {
  padding: 10px;
  color: var(--text);
}
.fa-2x:hover {
  color: var(--white);
}
.builder {
  color: var(--text);
  text-decoration: none;
}
.builder:hover {
  color: var(--white);
}

/* Home section*/
.carousel {
  width: 120vh;
  left: 300px;  
}
.d-block {
  border-radius: 10px;
  height: 75vh !important;

}
.services {
  text-align: center;
  margin: 20px;
  color: var(--text);
}
.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}
.eachCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  height: 250px;
  width: 250px;
  background-color: var(--opBlue);
  color: var(--mainBlue);
}
.accordion {
  background-color: var(--mainBlue) !important;
  color: var(--text);

}
.accordion-button {
  background-color: var(--mainBlue) !important;
  color: var(--text) !important;

 
}
.accordion-button:hover {
  color: var(--white) !important;
}
.accordionBody {
  color: var(--text);
   
}
.homeBtnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.homeBtn {
  width: 150px;
  padding: 10px;
  background-color: var(--text);
  color: var(--mainBlue);
  border-radius: 10px;
  border: solid var(--white);
  font-weight: bold;
  text-decoration: none;
}
.homeBtn:hover {
  background-color: var(--white);
  color: var(--mainBlue);


  
}
/* contact section */
.mainCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 600px;
  width: 500px;
  background-color: var(--opBlue);
  border-radius: 20px;
}
.contactCard h1 {
  color: var(--text);
  font-size: 50px;
  margin: 10px;
}
.contactCard input, select, label {
  margin: 5px;
  color: var(--text);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}
.message {
  margin: 10px;
  width: 80%;
  height: 100px;
  border-radius: 10px;

}
.contactBtn {
  padding: 10px;
  margin: 5px;
  width: 50%;
  background-color: var(--mainBlue);
  color: var(--text);
  border-radius: 10px;
  border: solid var(--text);
  font-size: 20px;
}
.contactBtn:hover {
  background-color: var(--text);
  color: var(--mainBlue);
}
/* profile section */
.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileCard{
  display: grid;  
  grid-template-columns: 1fr 2fr;
  border: 1px solid var(--text);
  border-radius: 10px;
  box-shadow: 0px 3px 4px rgb(83, 79, 79);
  background-color: var(--opBlue);
  width: 800px;
  margin: 20px;
}
.profile {
  margin: 10px;
  color: var(--text);
}
.profile p, h1, h6 {
  padding: 10px;
}
.profileLine {
  position: absolute;
  width: 400px;
  border-bottom: 1px solid var(--white);
  margin-left: 10px;
}

.profileImageContainer {
  margin: 10px;
}
.profileImage {
  height: 350px;
  width: 300px;
}
/* project section  */
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bedBath {
  display: flex;
}
.bedBath p {
  padding: 10px;
}
.projectBody{
  background-color: var(--text);
  color: var(--mainBlue);
}
/* company profile */
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--text);
  border-radius: 20px;
  box-shadow: 3px 7px var(--text);
  width: 60%;
  color: var(--text);
  margin: 30px;
  padding: 20px;
}

@media(max-width: 768px){
  /* Header section */
  .companyName {
    font-size: 40px;
    padding: 16px;
  }
  /* home section */
  .carousel {
    width: 50vh;
    left: 160px;  
  }
  .d-block {
    height: 65vh !important;
  
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  /* profile section  */
  .profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .profileLine {
    width: 40%;
  }
  /* contact section  */
  .contactCard {
    margin: 15px;
    height: 500px;
    width: 400px;
  }
}
@media(max-width: 468px){
  /* Header section */
  .headercontainer {
    margin-left: 80px;
  }
  .companyName {
    font-size: 30px;
    padding: 10px;
  }

 
  /* home section */
  .carousel {
    width: 35vh;
    left: 90px;  
  }
  .d-block {
    height: 55vh !important;
  
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .eachCard {
    background-color: var(--mainBlue);
    margin-bottom: 45px;
  }
  .accordion {
    background-color: var(--mainBlue) !important;
    color: var(--text);
    margin-left: 25px;
  }
  .accordion-button {
    background-color: var(--mainBlue) !important;
    color: var(--text) !important;

  }
  /* company section  */
  .aboutCompany {
    width: 16rem;
  }
  
  /* profile section  */
  .profileImage {
    height: 160px;
    width: 180px;
  }
  .profileCard {
    width: 16rem;
    margin-left: 80px;
  }
  /* services section  */
  .aboutCompany {
    margin-left: 80px;

  }
  /* contact section  */
  .contactCard {
    height: 500px;
    width: 250px;
    margin-left: 80px;
  }
 .contactCard h1 {
  font-size: 30px;
  margin: 5px;
 }
 /* project section  */
 .projectCard {
   width: 16rem !important;
   margin-left: 100px !important;
 }
 .projectCarousel {
  height: 200px !important;
  width: 220px !important;
 }


}